.App {
  text-align: center;
}

.App-logo {
  width: 50px;
  /* Thiết lập kích thước cho biểu tượng */
  height: 50px;
  pointer-events: none;
  animation: App-logo-spin 3s linear infinite;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}