$myFont: Helvetica, sans-serif;
$myColor: red;
$mySize: 16px;

.form_input {
    button {
        padding: 3px;
        font-size: 18px;
    }

    .title_name {
        padding: 16px;
    }
}

button {
    padding: 3px;
    font-size: 18px;
}